[submodule "CRoaring"]
	path = CRoaring
	url = https://github.com/RoaringBitmap/CRoaring.git
[submodule "EWAHBoolArray"]
	path = EWAHBoolArray
	url = https://github.com/lemire/EWAHBoolArray.git
[submodule "cbitset"]
	path = cbitset
	url = https://github.com/lemire/cbitset.git
[submodule "Concise"]
	path = Concise
	url = https://github.com/lemire/Concise.git
[submodule "BitMagic"]
	path = BitMagic
	url = https://github.com/tlk00/BitMagic
[submodule "FastPFOR"]
	path = FastPFOR
	url = https://github.com/fast-pack/FastPFOR
[submodule "chimp"]
	path = chimp
	url = https://github.com/panagiotisl/chimp
[submodule "ALP"]
	path = ALP
	url = https://github.com/cwida/ALP